.main {
    box-sizing: border-box;
    width: 820px;
    height: 800px;
    background-color: grey;
    margin: 0 auto;
    position: relative;
}
.main > div {
    float: left;

}
.header {
    width: 600px;
    height: 50px;
    background-color: yellow;
    
    left: 100px;
    padding: 10px;
    margin-top: 10px;
}
.half-width-box-left {
    box-sizing: border-box;
    display: inline-block;
    width: 310px;
    height: 450px;
    background-color: #26A66E;
    
    top: 100px;
    left: 100px;
    padding: 10px;
}
.half-width-box-right {
    box-sizing: border-box;
    display: inline-block;
    width: 310px;
    height: 450px;
    background-color: yellow;
    
    top: 100px;
    right: 100px;
    padding: 10px;
}
.low-pos-box {
    box-sizing: border-box;
    width: 620px;
    height: 150px;
    background-color: yellow;
    
    top: 570px;
    left: 100px;
    padding: 10px;
}
.inner-box1 {
    box-sizing: border-box;
    
    width: 150px;
    height: 55px;
    display: inline-block;
    background-color: gray;
    top: 160px;
}
.inner-box2 {
    box-sizing: border-box;
    
    width: 145px;
    height: 55px;
    display: inline-block;
    left: 155px;
    background-color: grey;
    top: 160px;
}
.inner-box3 {
    box-sizing: border-box;
    
    width: 290px;
    height: 150px;
    display: inline-block;
    background-color: grey;
    top: 260px;
}
span {
    display: block;
    background-color: #232222;
    color: white;
    height: 35px;
    font-size: 18px;
    border-radius: 2.5px;
    line-height: 35px;
}